VITE_LOGIN_URL=https://tu-login-externo.com
VITE_PASARELA_ORIGIN=https://tu-pasarela-externa.com
VITE_DOCS_URL=https://tu-documentacion-externa.com
VITE_TERMINAL_POS_URL=https://antillapos.vercel.app
VITE_COMPANY_URL=https://tu-pagina-comercial-antilla-capital.com
